<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Face Detection by Davor</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="icon" href="../static/Logo white.png" type="image/icon type">

</head>
<body>
<div class="loading">
    <div class="loader"></div>
</div>
<div class="content">
    <div id="header">
        <header>
            <ul>
                <li onclick="navigateToPage('home')">HOME</li>
                <li onclick="navigateToPage('home')">ABOUT A CREATOR</li>
                <li class="logo" onclick="navigateToPage('home')" >
                    <img id="main_logo" src="/static/Logo white.png" alt="logo"/>
                    <img id="hover-image" src="/static//full_face.png" alt="hover image"/>
                </li>
                <li onclick="scrollToSection('home')">ABOUT THE PROJECT</li>
                <li onclick="navigateToPage('home')">CONTACT</li>
            </ul>

        </header>
    </div>
    <div id="main" class="detection_main">

        <div class="main_section2">
            {% if filename %}
            <div id="detected_image">
                <img src="{{ url_for('static',filename = '/Images/'+filename) }}" width="400px">
            </div>
            {% endif %}
        </div>

        <div class="main_section" id="detected_image_descp_div">
            {% if filename %}
            <h2>Image Properties</h2>
            <div id="detected_image_descp">
                <h3><span class="title_descp">File name: </span> {{ filename }}</h3>
                <h3><span class="title_descp">File Type: </span> {{ file_type }}</h3>
                <h3><span class="title_descp">File Size: </span> {{ file_size }} bytes</h3>
                <h3><span class="title_descp">Width: </span> {{ width }} px</h3>
                <h3><span class="title_descp">Height: </span> {{ height }} px</h3>
                <h3><span class="title_descp">Color Space: </span> {{ color_space }}</h3>
                <h3><span class="title_descp">Number of Faces Detected: </span> {{ num_faces }}</h3>
            </div>
            <a href="{{ url_for('static', filename='/Images/' + filename) }}" download="{{ filename }}" class="download-button">
                Download Image
            </a>
            {% endif %}
        </div>
        

    </div>


</div>
<footer>
    <p>&copy; 2024 Face Detection by Davor Mladenovski. All Rights Reserved.</p>
</footer>


<script>

    function navigateToPage(url) {
            window.location.href = url;
    }
    function scrollToSection(sectionId) {
        var section = document.getElementById(sectionId);
        if (section) {
            section.scrollIntoView({ behavior: 'smooth' });
         }
    }

    window.onload = function () {
        setTimeout(function () {
            document.querySelector('.loading').style.opacity = '0';
            document.querySelector('.content').classList.add('revealed');
            setTimeout(function () {
                document.querySelector('.loading').style.display = 'none';
            }, 1000);
        }, 2500);

        document.getElementById('hover-image').style.display = 'none'
    }

    document.getElementsByClassName('logo')[0].addEventListener('mouseover', function () {
        document.getElementById('hover-image').style.display = 'block'
        document.getElementById('main_logo').style.display = 'none'
    })
    document.getElementsByClassName('logo')[0].addEventListener('mouseout', function () {
        document.getElementById('hover-image').style.display = 'none'
        document.getElementById('main_logo').style.display = 'block'

    })

    document.getElementById('file_button').addEventListener('change', function () {
            document.getElementById('submite_button').click(); 
    });

    function showModal() {
        document.getElementById('errorModal').style.display = 'flex';
    }

    function closeModal() {
        document.getElementById('errorModal').style.display = 'none';
    }

    
    
</script>


</body>


</html>
